<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar VideoJuego de Switch</title>
</head>
<body>
    <form method="post" action="{% url 'eliminar_switch' switch.idswitch %}">
        {% csrf_token %}
        <p>¿Estás seguro de que deseas eliminar este videojuego de Switch?</p>
        <input type="submit" value="Eliminar">
        <button type="button" onclick="goBack()">Volver</button>
    </form>
    
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    </form>
</body>
</html>