

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script src="https://kit.fontawesome.com/57fef64641.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Los mejores videojuegos para pc actuales</title>
</head>

<body>
    <header>
        <div class="container-fluid header-block" id="header">
            <div class="row align-items-center g-0">
                <img src="{% static 'img/banner.png' %}" alt="Banner" class="img-fluid">
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="../index.html"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="80" height="60"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar1">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="manga.html">Manga</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Videojuegos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="playstation4.html">PlayStation 4</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="pc.html">Juegos de PC / Keys</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="switch.html">Nintendo Switch</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="btn-group mi-cuenta">
                    <button class="btn btn-secondary btn-md dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mi Cuenta
                    </button>
                    <ul class="dropdown-menu" id="login">
                        <li class="dropdown-item">
                            <a class="text-reset" href="login.html">Iniciar Sesión</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="creausuario.html" class="text-reset">Crear Usuario</a>
                        </li>
                    </ul>

                </div>
                <form class="d-flex my-2">
                    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <ul class="navbar-nav margen-carro">
                    <li class="nav-item">
                    <li><a href="#" class="text-reset"><span class="cart-counter">0</span> Productos <i
                                class="fa-solid fa-cart-shopping"></i></a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="d-flex flex-wrap" id="tarjetero">
            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                    <img src="{% static 'img/Sonsoftheforest.jpg' %}" alt="Sons of the Forest" class="img-fluid">
                    <div class="card-body">
                        <h3>Sons Of The Forest</h3>
                        <p>Enviado a buscar a un multimillonario desaparecido en una isla remota, te encuentras en un
                            infierno infestado de caníbales. Crea, construye y lucha para sobrevivir, solo o con amigos,
                            en este nuevo y aterrador simulador de horror y supervivencia de mundo abierto.</p>
                        <div class="row" id="botones">
                            <a href="#" class="btn btn-primary anadir" id="comprar">COMPRAR</a>
                            <a href="https://sonsoftheforest.wiki.gg/wiki/Sons_of_the_Forest_Wiki"
                                class="btn btn-secondary" role="button" id="info">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                    <img src="{% static 'img/Persona5.jpg' %}" alt="Persona 5 Royal" class="img-fluid">
                    <div class="card-body">
                        <h3>Persona 5 Royal</h3>
                        <p>Ponte la máscara, acompaña a los Ladrones Fantasma de Corazones en sus asaltos ¡e infíltrate
                            en la mente de los corruptos para hacerles cambiar de opinión!</p>
                        <div class="row" id="botones">
                            <a href="#" class="btn btn-primary anadir" id="comprar">COMPRAR</a>
                            <a href="https://persona.atlus.com/p5r/?lang=en" class="btn btn-secondary" role="button"
                                id="info">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                    <img src="{% static 'img/forza5.jpg' %}" alt="Forza Horizon 5" class="img-fluid">
                    <div class="card-body">
                        <h3>Forza Horizon 5</h3>
                        <p style="height: 150px; overflow: hidden;">Explora los vibrantes paisajes del mundo abierto de
                            México y disfruta de una diversión sin límites al volante de los mejores coches del mundo.
                            Conquista la escarpada Sierra Nueva en la experiencia definitiva del rally de Horizon.</p>
                        <div class="row" id="botones">
                            <a href="#" class="btn btn-primary anadir" id="comprar">COMPRAR</a>
                            <a href="https://forza.net/horizon" class="btn btn-secondary" role="button" id="info">Más
                                información</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                    <img src="{% static 'img/elden.jpg' %}" alt="ELDEN RING" class="img-fluid">
                    <div class="card-body">
                        <h3>ELDEN RING</h3>
                        <p>EL NUEVO JUEGO DE ROL Y ACCIÓN DE AMBIENTACIÓN FANTÁSTICA. Álzate, Sinluz, y que la gracia te
                            guíe para abrazar el poder del Círculo de Elden y encumbrarte como señor del Círculo en las
                            Tierras Intermedias.</p>
                        <div class="row" id="botones">
                            <a href="#" class="btn btn-primary anadir" id="comprar">COMPRAR</a>
                            <a href="https://es.bandainamcoent.eu/elden-ring/elden-ring" class="btn btn-secondary"
                                role="button" id="info">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                    <img src="{% static 'img/dragonballz.jpg' %}" alt="DRAGON BALL Z: KAKAROT" class="img-fluid">
                    <div class="card-body">
                        <h3>DRAGON BALL Z: KAKAROT</h3>
                        <p>¡Revive la historia de Son Goku y otros Guerreros Z en DRAGON BALL Z: KAKAROT! Conoce el
                            mundo de DRAGON BALL Z no solo por sus épicos combates, sino también mientras luchas,
                            pescas, comes y entrenas con Son Goku, Son Gohan, Vegeta y muchos más.</p>
                        <div class="row" id="botones">
                            <a href="#" class="btn btn-primary anadir" id="comprar">COMPRAR</a>
                            <a href="https://es.bandainamcoent.eu/dragon-ball/dragon-ball-z-kakarot"
                                class="btn btn-secondary" role="button" id="info">Más información</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                    <img src="../images/hollow.jpg" alt="Hollow Knight" class="img-fluid">
                    <div class="card-body">
                        <h3>Hollow Knight</h3>
                        <p>¡Forja tu propio camino en Hollow Knight! Una aventura épica a través de un vasto reino de
                            insectos y héroes que se encuentra en ruinas. Explora cavernas tortuosas, combate contra
                            criaturas corrompidas y entabla amistad con extraños insectos, todo en un estilo clásico en
                            2D dibujado a mano.</p>
                        <div class="row" id="botones">
                            <a href="#" class="btn btn-primary anadir" id="comprar">COMPRAR</a>
                            <a href="https://hollowknight.fandom.com/es/wiki/Hollow_Knight" class="btn btn-secondary"
                                role="button" id="info">Más información</a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                    <img src="../images/mosnter.jpg" alt="MONSTER HUNTER RISE" class="img-fluid">
                    <div class="card-body">
                        <h3>MONSTER HUNTER RISE</h3>
                        <p>¡Acepta el reto y apúntate a la caza! En Monster Hunter Rise, la entrega más reciente de la
                            galardonada y superexitosa serie Monster Hunter, te convertirás en cazador, explorarás mapas
                            nuevos y usarás muchas armas diferentes para acabar con monstruos temibles en una historia
                            totalmente nueva.</p>
                        <div class="row" id="botones">
                            <a href="#" class="btn btn-primary anadir" id="comprar">COMPRAR</a>
                            <a href="https://www.monsterhunter.com/rise/es/" class="btn btn-secondary" role="button"
                                id="info">Más información</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                    <img src="../images/hogwarts.jpg" alt="Hogwarts Legacy" class="img-fluid">
                    <div class="card-body">
                        <h3>Hogwarts Legacy</h3>
                        <p>Hogwarts Legacy es un RPG inmersivo de acción en mundo abierto. Ahora puedes tomar el control
                            de la acción y ser el centro de tu propia aventura en el mundo mágico.</p>
                        <div class="row" id="botones">
                            <a href="#" class="btn btn-primary anadir" id="comprar">COMPRAR</a>
                            <a href="https://www.hogwartslegacy.com/es-cl" class="btn btn-secondary" role="button"
                                id="info">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                  <img src="../IMAGES/farcry6.jpg" alt="Far Cry® 6">
                  <div class="card-body">
                    <h3>Far Cry® 6</h3>
                    <p style="height: 150px; overflow: hidden;">Experimenta la adrenalina de una revolución guerrillera moderna. Gracias a unos paisajes impresionantes, unos tiroteos brutales y una gran variedad de experiencias de juego, nunca ha habido mejor momento para unirte a la lucha.</p>
                    <p><a href="#" class="btn btn-primary" role="button">COMPRAR</a></p>
                    <a href="https://www.ubisoft.com/es-mx/game/far-cry/far-cry-6" class="btn btn-secondary" role="button">Más información</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                  <img src="../IMAGES/STSurv.jpg" alt="STAR WARS Jedi: Survivor™">
                  <div class="card-body">
                    <h3>STAR WARS Jedi: Survivor™</h3>
                    <p style="height: 150px; overflow: hidden;">La historia de Cal Kestis continúa en Star Wars Jedi: Survivor™. Este título para un jugador centrado en la historia retoma la aventura 5 años después de los acontecimientos de Star Wars Jedi: Fallen Order™ y sigue la lucha cada vez más desesperada de Cal mientras la galaxia se hunde en la oscuridad.</p>
                    <p><a href="#" class="btn btn-primary" role="button">COMPRAR</a></p>
                    <a href="https://www.ea.com/es-es/games/starwars/jedi/jedi-survivor" class="btn btn-secondary" role="button">Más información</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                  <img src="../IMAGES/fifa23.jpg" alt="EA SPORTS™ FIFA 23">
                  <div class="card-body">
                    <h3>EA SPORTS™ FIFA 23</h3>
                    <p style="height: 150px; overflow: hidden;">FIFA 23 nos acerca a The World's Game con la tecnología HyperMotion2, la FIFA World Cup™ masculina y femenina disponibles durante la temporada, clubes femeninos, función de juego cruzado* y mucho más.</p>
                    <p><a href="#" class="btn btn-primary" role="button">COMPRAR</a></p>
                    <a href="https://www.ea.com/es-es/games/fifa/fifa-23" class="btn btn-secondary" role="button">Más información</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                  <img src="../IMAGES/dredge.jpg" alt="DREDGE">
                  <div class="card-body">
                    <h3>DREDGE</h3>
                    <p style="height: 150px; overflow: hidden;">DREDGE es una aventura de pesca para un solo jugador con una siniestra corriente subyacente. Vende lo que pescas, mejora tu barca y ahonda en las profundidades para encontrar antiguos tesoros enterrados.</p>
                    <p><a href="#" class="btn btn-primary" role="button">COMPRAR</a></p>
                    <a href="https://www.dredge.game/" class="btn btn-secondary" role="button">Más información</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                  <img src="../IMAGES/stellaris.jpg" alt="Stellaris">
                  <div class="card-body">
                    <h3>Stellaris</h3>
                    <p style="height: 150px; overflow: hidden;">Explora una galaxia repleta de maravillas con este juego de ciencia ficción y gran estrategia de Paradox Development Studio. Interactúa con distintas especies alienígenas, descubre nuevos mundos y amplía el dominio de tu imperio. Cada nueva aventura ofrece posibilidades casi infinitas.</p>
                    <p><a href="#" class="btn btn-primary" role="button">COMPRAR</a></p>
                    <a href="https://www.paradoxinteractive.com/games/stellaris/about" class="btn btn-secondary" role="button">Más información</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                  <img src="../IMAGES/Hades.jpg" alt="Hades">
                  <div class="card-body">
                    <h3>Hades</h3>
                    <p style="height: 150px; overflow: hidden;">Desafía al dios de los muertos y protagoniza una salvaje fuga del Inframundo en este juego de exploración de mazmorras de los creadores de Bastion, Transistor y Pyre.</p>
                    <p><a href="#" class="btn btn-primary" role="button">COMPRAR</a></p>
                    <a href="https://www.supergiantgames.com/games/hades/" class="btn btn-secondary" role="button">Más información</a>
                  </div>
                </div>
              </div>
            <div class="col-md-4" style="padding-top: 2%;">
                <div class="card">
                    <img src="../images/Residentevil4.jpg" alt="Resident Evil 4" class="img-fluid">
                    <div class="card-body">
                        <h3>Resident Evil 4</h3>
                        <p>Sobrevivir es solo el principio. Con una mecánica de juego modernizada, una historia
                            reimaginada y unos gráficos espectacularmente detallados, Resident Evil 4 supone el
                            renacimiento de un gigante del mundo de los videojuegos.</p>
                        <div class="row" id="botones">
                            <a href="#" class="btn btn-primary anadir" id="comprar">COMPRAR</a>
                            <a href="https://www.residentevil.com/re4/es/" class="btn btn-secondary" role="button"
                                id="info">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="geek-footer">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-4" style="margin-right: 10%;">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <img src="../images/logo.jpg" alt="logo" width="40" height="30" style="margin-right: 5%;">
                            Mundo Geek
                        </h6>
                        <p style="text-align: justify;">
                            Tienda especializada en la venta de videojuegos y comics. Llevamos trabajando para la
                            comunidad por
                            más de 10 años. Tenemos muy buenas refeencias en todos nuestros productos que se promocionan
                            en esta página.
                        </p>
                    </div>
                    <div class="col-2 g-0" style="margin-right: 6%;">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Secciones
                        </h6>
                        <p>
                            <a href="manga.html" class="text-reset">Mangas</a>
                        </p>
                        <div class="btn-group" style="margin-top: 2%;">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Videojuegos
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="switch.html" class="text-reset">Nintendo Switch</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="playstation4.html" class="text-reset">PlayStation 4</a>
                                </li class="dropdown-item">
                                <li class="dropdown-item">
                                    <a href="pc.html" class="text-reset">Keys para Steam / Juegos de PC</a>
                                </li>
                            </ul>
                        </div>
                        <p style="padding-top: 4%;">
                            <a class="text-reset" href="login.html"> Inicia Sesión</a>
                        </p>
                        <p style="padding-top: 0.0000001%;">
                            <a class="text-reset" href="creausuario.html">Crea tu usuario</a>
                        </p>
                    </div>
                    <div class="col-4 g-0">
                        <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                        <p><i class="fa-solid fa-house me-3"></i></i>Puerto Montt, Chile</p>
                        <p>
                            <i class="fa-solid fa-envelope me-3"></i>
                            cr.mansilla@duocuc.cl
                        </p>
                        <p>
                            <i class="fa-solid fa-envelope me-3"></i>
                            re.barria@duocuc.cl
                        </p>
                        <p>
                            <i class="fa-solid fa-envelope me-3"></i>
                            jos.romanr@duocuc.cl
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 65 232 4408</p>
                    </div>                    
                </div>
            </div>
        </section>
        <div class="container text-center text-md-start mt-5">
                <div class="rounded my-3" style="background-color: white">
                    <center>
                        <img src="../images/inst.png" alt="banner-insta" class="img-fluid" style="padding-bottom: 1%;" id="instagram">
                    </center>
                    <div class="card-group" style="height: 20%; padding-bottom: 2%; padding-left: 3%;">
                    </div>
                </div>
        </div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Todos los derechos reservados a Reinaldo Barría, Cristian Mansilla, José Luis Román
        </div> 
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../javascript/carrito.js"></script>
    <script src="../javascript/api_instagram.js"></script>
</body>

</html>